.swiper-nav {
  display: flex;
  margin: 8px -8px;

  .nav-prev {
    display: block;
    &:active {
      transform: translateX(-4px);
    }
  }
  .nav-next {
    display: block;
    &:active {
      transform: translateX(4px);
    }
  }

  .nav-prev,
  .nav-next {
    font-size: 5rem;
    user-select: none;
    cursor: pointer;
    width: 54px;
    height: 54px;
    display: flex;
    line-height: 1;
    text-align: center;
    justify-content: center;
    margin: 8px;
    color: black;
    border: 1px solid black;
    transition-duration: 0.1s;
    -webkit-tap-highlight-color: transparent !important;

    &:after {
      display: none;
    }
  }

  &.variant-white {
    .nav-prev,
    .nav-next {
      color: white;
      border: 1px solid white;
    }
  }

  &.variant-black {
    .nav-prev,
    .nav-next {
      color: black;
      border: 1px solid black;
    }
  }

  .swiper-notification {
    display: none;
  }
}