.contact-form {
  background: white;
  padding: 32px;
  padding-top: 48px;
  @media (max-width: 900px) {
    padding: 0px;
  }
  .input-checkbox__label{
    font-size: 1.1rem;
    text-align: justify;
  }

  .customButton {
    width: 100%;
    text-align: center;
    justify-content: center;
    margin-top: 32px;
  }

  .download-btn {
    .customButton {
      margin-top: 8px;
    }
  }

  .info-label {
    margin-top: 32px;
    font-size: 1.4rem;
    font-weight: 400;
    padding: 12px 11px;
    width: 100%;
    box-shadow: inset 0px 0px 1000px rgba(242, 142, 5, 0.15);
    text-align: center;
    color: white;
    border: 1px solid #EE7911;
  }
}
